# .htaccess main domain to subdirectory redirect
RewriteEngine on

<IfModule rewrite_module>
  RewriteEngine On
  RewriteRule ^debugbar/(.*) /vendor/maximebf/debugbar/src/DebugBar/Resources/$1 [NC,L]
</IfModule>